<!DOCTYPE html>

<html>

<head>
    <title>About</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main_content">
       {{>header}}
       <p>This Site was created by <b>Madhav Singh</b>.<br><br>
        It uses data from <i>mapbox.com</i> and weatherstack.com , to Forecast Weather data for your search Location.</p>
    <img class="portrait" src="/img/bhopali.png">
    </div>
    
    {{>footer}}
</body>

</html>